
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-back-drop:after {
  background: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 150px, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  opacity: .9;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;



}

.ant-progress-text {
  color: #fff !important;
}

.slider-area {
  width: 90%;
  margin:  20px auto;
  margin-top: 3.25rem;
  position: relative;
}

.ant-card-body {
  padding: 10px;
}

.slick-dots-bottom .slick-active button {
  background-color: red!important;
}


.slick-dots-bottom  {
  bottom: -25px !important;
}
.slick-dots-bottom  button {
  background-color: rgb(54, 51, 51)!important;
}

.search-result {
  position: absolute;
  z-index: 999;
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 5px;
}

.logo svg {
  width: 100px;
  height: 75px;

}

@media only screen and (max-width: 600px) {
  .desc-area {
    max-width: 100%;
    padding: 1.5rem;
  }

  
.logo svg {
  width: 60px;
}



.slider-image {
  min-width: auto;
}
}

@media only screen and (max-width: 600px) {
  .desc-area {
    max-width: 100%;
    padding: 1.5rem;
  }
}